# Copie ce fichier en .env et remplis tes credentials
PITER_EMAIL=s.preston@u-need.fr
PITER_PASSWORD=Tbkm6645UNEED!

# URLs
PITER_BASE_URL=https://piter.at
PITER_LOGIN_URL=https://piter.at/connexion
PITER_AO_URL=https://piter.at/prestataire/consultation

# Export
OUTPUT_FORMAT=excel   # excel ou csv
OUTPUT_DIR=data/output
